body{
    background-color: hsl(235, 21%, 11%);
    background-image: url("../imgs/IMG-20220521-WA0004.jpg");
    background-size:cover;
    cursor: pointer;

}
.add-data , .show-data{
    width:60%;
    background-color: white;
    color:black;
    margin-top:70px;
    height:fit-content;
    /* height:100%; */
    padding-top:20px;
    padding-bottom: 20px;
    
}
ul li{
    margin-left:50px;
}
.hide{
    display: none;
}
.add , .old ,.home{
    border:none;
    background-color: transparent;
    color:black;
    font-size:20px;
}
.dr-name{
    font-size:20px;
    font-weight:bold;
}
.card{
    margin-top:200px;
    width:80%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}
.info-buttons{
    border:none;
    background:transparent;
    
}
.info-buttons:hover , .clicked{
    color:lightgrey;
    background-color:hsl(235, 21%, 11%);
    border:1px solid hsl(235, 21%, 11%);
    border-radius:5px;
}
.btn{
    background-color:hsl(235, 21%, 11%);
    color:white;
}
.btn:hover {
    background-color:hsl(235, 21%, 11%);
    color:white;
}

.info-style{
    display:flex;
    justify-content:flex-start;
}
.diseases-cont{
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
    padding-left:20px;
    justify-content:space-between;
    margin-bottom:20px;
}
.check-cont{
    display:flex;
    flex-flow:row;
    align-items:center;
    justify-content: space-between;
    margin-left:50px;
    /* margin-left:auto; */

    
}
.check-field{
    margin-left:30px;
}
.label{
    display:flex;
    align-self:center;
    margin-left:10px;
}
.accordion-collapse{
    display:flex;
    flex-flow:column;
}
.comments-container{
    width:50%;
    display:flex;
    justify-content:center;
    margin-left:auto;
}
.comments-field{
    width:100%;
    justify-content:flex-start;
    height:50px;
    border:1px solid lightgrey;
}
.the-check{
    margin-left:50px;
}
.categories{
    
    display:flex;
    flex-flow:row;
    width:100%;
    justify-content:space-between;
}
.first-row{
    display:flex;
    flex-flow:column;
    justify-content:flex-start;
    border-right:1px solid black;
}
.check{
    display:flex;
    flex-flow:row;
    justify-content:space-between;
    
}
.check input{
    display:flex;
    align-self:center;
    margin-left:10px;
}
.check h5{
     margin-left:30px;
}
/* .category-parent{
    display:flex;
    flex-flow:row;
    width:100%;
    justify-content:space-between;
} */
.opertive-container , .post-core-container ,.ortho-container ,.peudo-container ,.crown-container ,.removable-container , .partial , .complete ,.removable-cat ,.endo-container ,.glide-cont ,.cleaning-shaping-cont ,.extraction-container ,.implant-container{
    display:flex;
    flex-flow:column;
    width:100%;
    
    
}
.category-parent , .post-core-parent ,.ortho-parent ,.peudo-parent ,.crown-parent ,.partial-parent ,.complete-parent ,.partial-head ,.complete-head ,.removable-parent,.endo-parent ,.glide-container ,.cleaning-parent{
    display: flex;
    flex-flow:row;
    justify-content:space-between;
    
}
.opertive-cont , .post-core-cont ,.ortho-cont ,.peudo-cont ,.crown-cont ,.partial-cont ,.complete-cont ,.partial-head h5  ,.complete-head h5 ,.endo-head ,.glide-head ,.cleaning-head{
    display:flex;
    justify-content:flex-start;
    
}
.opertive-check ,.post-core-check , .ortho-check ,.peudo-check ,.crown-check ,.partial-check , .complete-check ,.partial-head input ,.complete-head input ,.endo-check ,.glide-check ,.cleaning-check{
    display:flex;
    align-self:flex-start;
    justify-content:flex-end;
}
.horizontal{
    width:100%;
    color:black;

}
.save-button ,.add-visit ,.save-old{
    margin-top:10px;
}
.info , .history ,.visits ,.work{
    font-size:25px;
}
.comment-cont{
    display:flex;
    justify-content:center;
    margin-left:auto;
    width:70%;
}
.endo-comment{
    width:80%;
    margin-right:auto;
}
.svg-container ,.opertive-svg{
    width:150px;
    height:150px;
}
.category-parent{
    height:250px;
}
.post-core-svg ,.crown-svg ,.partial-svg ,.complete-svg  {
    width:200px;
    height:200px;
    margin-bottom:100px;
    margin-left:auto;
    margin-right:auto;
}
.extraction-svg ,.implant-svg ,.peudo-svg{
    width:200px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:100px;
}
polygon, path{
    -webkit-transition:fill .25s;
    transition:fill .25s;
  }